.parent:hover .child{
    color:white;
}
.parent:hover{
    cursor:pointer
}
.active{
    color: white !important;
}
.drawer{
    width:"70vw" !important;
    height:"100vh";
    position:"fixed";
}
.input-group{
    position: relative !important;
    margin: 20px 0 !important;
}

.input-group label {
    position: absolute !important;
    top: 50% !important;
    left: 30px !important;
    transform: translateY(-50%) !important;
    font-size: 16px !important;
    color: #fff !important;
    padding: 0 5px !important;
    pointer-events: none !important;
}
.input-group input {
    width: 320px !important;
    height: 40px !important;
    font-size: 16px !important;
    color: #fff !important;
    padding: 0 10px !important;
    background: transparent !important;
    border: 1.2px solid #fff !important;
    outline: none !important;
    border-radius: 5px !important;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0px !important;
    font-size: 12px !important;
    background-color: #1e232c !important;
}
.changeDetailBtn:hover{
    color: white;
    background-color: #1e232c;
    border: 1px solid white;
}
.signoutdiv{
    margin-top: 2% !important;
}
.signoutdiv:hover{
    background-color: #3d3c3c;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: black !important;
    border:1px solid white !important;
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .social-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #444; */
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  #facebookIcon {
    color: #316ff6;
  }
  #facebookIcon:hover {
    color: white;
    background-color: #316ff6;
  }
  
  #twitterIcon {
    color: white;
  }
  
  #twitterIcon:hover {
    color: white;
    background-color: #1da1f2;
  }
  
  #instagramIcon {
    color: #4c68d7;
  }
  
  #instagramIcon:hover {
    color: white;
    background-color: #4c68d7;
  }
  
  #linkedinIcon {
    color: #0077b5;
  }
  
  #linkedinIcon:hover {
    color: white;
    background-color: #0077b5;
  }
  
  #GitHubIcon {
    color: #fff;
  }
  
  #GitHubIcon:hover {
    color: black;
    background-color: #fff;
  }
  
  .social-icon:hover {
    color: #df4adf;
    border-color: #df4adf;
  }