@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
body {
  
}
*{
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* For all browsers including WebKit, Firefox, and IE/Edge */
/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  height: 1px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: transparent;
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
}

/* Firefox scrollbar */
/* Note: Firefox doesn't support customizing scrollbar appearance yet */
/* The following styles may not work in all Firefox versions */
/* For better cross-browser compatibility, you can omit these styles for Firefox */
* {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

/* Internet Explorer / Edge scrollbar */
/* Note: These styles only work in IE and Edge (EdgeHTML) */
* {
  -ms-overflow-style: none;
}

*::-ms-scrollbar {
  width: 1px;
}

*::-ms-thumb {
  background-color: transparent;
}

*::-ms-track {
  background-color: transparent;
}
