.searchResults {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent;

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change to your desired color */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Change to your desired color */
  }
}
.groupNameInput{
  font-size: large;
}
.groupNameInput::placeholder {
  font-style: italic;
  font-size:large;
}
.searchWrapper{
    width: 27vw !important;
    height: 20% !important;
}

@keyframes float2 {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.clickHereAnimation2{
  transform: translatey(0px);
	animation: float2 2s ease-in-out infinite;
}

.multiSelectContainer li{
    background-color: #1e232c !important;
    color: white;
}
.multiSelectContainer li:hover{
    background-color: black !important;
    color: black;
}
.notFound{
    background-color: #1e232c !important;
}
/* .highlightOption {
    background-color: white !important;
} */


.hovered {
  background-color: white !important;
}
.hovered .text {
  color: black !important;
}
.hovered .icon {
  color: black !important;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 10px; /* the size of the tail */

  
  max-width: 350px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  /* background: linear-gradient(135deg,#FE6D00,#1384C5) border-box; */
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  /* margin-right: 0px !important; */
  /* border:"1px solid white "!important; */
  --_d:   100%;
  border-right: var(--t) solid #0000;
  /* margin-left: var(--t); */
  place-self: end;
}
::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (the area behind the thumb) transparent */
}

.sender{
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.multiselect-container{
  width:400px !important
}

.search-wrapper, searchWrapper{
  width:100% !important;
} 

.addMembersButton:hover{
  background-color: white !important;
  color: black !important;
  border: black !important;
}

@keyframes appearFromCenter {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .appear {
    transform-origin: center;
    display: flex !important;
    transform: scale(0);
    opacity: 0;
    animation: appearFromCenter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  @keyframes disappearToCenter {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .disappear {
    transform-origin: center;
    display: flex !important;
    animation: disappearToCenter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  .createGrpButton{
    width: 20% !important;
  }
  .createGrpButton:hover{
    background-color: white !important;
    color: black !important;
    border: black !important;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .chat-window {
    /* Set initial position off the screen */
    transform: translateX(100%);
    /* Apply animation when isChatWindowVisible becomes true */
    animation: slideIn 0.5s ease-out forwards;
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .chat-window-hidden {
    /* Apply animation when isChatWindowVisible becomes false */
    animation: slideOut 0.5s ease-in forwards;
  }
  .swal2-popup.swal2-toast {
    background-color: black !important;
    border: 1px solid white !important;
  }
  .swal2-timer-progress-bar{
    background-color: white !important;
  }