@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50vw;
  /* max-width: ; */
  height: 90vh;
  background-color:black;
  border:1px solid white;
  border-radius: 3.3rem;
  /* border:1px solid black; */
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}


.forms-wrap form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #fff;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #fff;
}

.heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #8371fd;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid #bbb !important;
  padding: 0 !important;
  font-size: 0.95rem !important;
  color: #fff !important;
  transition: 0.4s !important;
}
input[type="number"] {
    -moz-appearance: textfield !important; /* Firefox */
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
  
label {
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 0.95rem !important;
  color: #bbb !important;
  pointer-events: none !important;
  transition: 0.4s !important;
}

.input-field.active {
  border-bottom-color: #151111 !important;
}

.input-field.active + label {
  font-size: 0.75rem !important;
  top: -2px !important;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #8371fd;
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #8371fd;
}

main.sign-up-mode form.details-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.details-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: black;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}
.img-4 {
  transform: scale(0.4, 0.5);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 1.0rem;
}

.text-group {
  display: flex;
  /* margin-top: 1%; */
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  /* margin-top: 2%; */
  color: #fff;
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}

.actual-form{
  margin-top: 15%;
  width: 100%;
  height: 100%;
  position: relative;
}
.heading{
  margin-top: 10%;
  /* margin-left: 10%; */
}

.logo{
  margin-top: 10%;
  /* margin-left: 10%; */
}
.submit-chat-form{
  width: 100% !important;
  height: 100% !important;
  margin: none;
}

.searchResults {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent;

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change to your desired color */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Change to your desired color */
  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.chat-window {
  /* Set initial position off the screen */
  transform: translateX(100%);
  /* Apply animation when isChatWindowVisible becomes true */
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.chat-window-hidden {
  /* Apply animation when isChatWindowVisible becomes false */
  animation: slideOut 0.5s ease-in forwards;
}

.bubble {
  --r: 20px; /* the radius */
  --t: 10px; /* the size of the tail */

  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  /* background: linear-gradient(135deg,#FE6D00,#1384C5) border-box; */
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  /* margin-right: 0px !important; */
  /* border:"1px solid white "!important; */
  --_d:   100%;
  border-right: var(--t) solid #0000;
  /* margin-left: var(--t); */
  place-self: end;
}
::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (the area behind the thumb) transparent */
}

.sender{
  margin-right: 0px !important;
  padding-right: 0px !important;
}
.hovered {
  background-color: white !important;
}
.hovered .text {
  color: black !important;
}
.hovered .icon {
  color: black !important;
}

.user-list{
  border: 1px solid white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.user-item{
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  width: 100%;
  height: 50%;

}
.checkbox-div{
  width: 20%;
  height: 100%;
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.checkbox-div input{
  width: 35%;
  height: 35%;
  /* border: 1px solid white; */
  border-radius: 50%;
  cursor: pointer;
}
.user-img{
  width: 60px;
  height: 60px;
  /* margin-left:5%; */
  overflow: hidden;
  border-radius: 50%;
  border : 1px solid white;
}
.user-details{
  width: 70%;
  height: 100%;
  color: white;
  /* border: 1px solid white; */
}
.user-div{
  margin-left: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius:5px;
  background-color: #1e232c;
}

.searchResults {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent;

  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change to your desired color */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Change to your desired color */
  }
}
.groupNameInput{
  font-size: large;
}
.groupNameInput::placeholder {
  font-style: italic;
  font-size:large;
}
.searchWrapper{
    width: 27vw !important;
    height: 20% !important;
}

.multiSelectContainer li{
    background-color: #1e232c !important;
    color: white;
}
.multiSelectContainer li:hover{
    background-color: black !important;
    color: black;
}
.notFound{
    background-color: #1e232c !important;
}
/* .highlightOption {
    background-color: white !important;
} */


.hovered {
  background-color: white !important;
}
.hovered .text {
  color: black !important;
}
.hovered .icon {
  color: black !important;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 10px; /* the size of the tail */

  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  /* background: linear-gradient(135deg,#FE6D00,#1384C5) border-box; */
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  /* margin-right: 0px !important; */
  /* border:"1px solid white "!important; */
  --_d:   100%;
  border-right: var(--t) solid #0000;
  /* margin-left: var(--t); */
  place-self: end;
}
::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (handle) transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (the area behind the thumb) transparent */
}

.sender{
  margin-right: 0px !important;
  padding-right: 0px !important;
}

@keyframes appearFromCenter {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .appear {
    transform-origin: center;
    display: flex !important;
    transform: scale(0);
    opacity: 0;
    animation: appearFromCenter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  @keyframes disappearToCenter {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  @keyframes float4 {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatex(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatex(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatex(0px);
    }
  }
  .clickHereAnimation4{
    margin-top: 200px !important; /* Adjust margin as needed */
    transform: translatex(0px);
    animation: float4 2s ease-in-out infinite;
  }
  

  .disappear {
    transform-origin: center;
    display: flex !important;
    animation: disappearToCenter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
  
  .createGrpButton{
    width: 20% !important;
    
  }
  .createGrpButton:hover{
    background-color: white !important;
    color: black !important;
    border: black !important;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .chat-window {
    /* Set initial position off the screen */
    transform: translateX(100%);
    /* Apply animation when isChatWindowVisible becomes true */
    animation: slideIn 0.5s ease-out forwards;
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .chat-window-hidden {
    /* Apply animation when isChatWindowVisible becomes false */
    animation: slideOut 0.5s ease-in forwards;
  }
  .swal2-popup.swal2-toast {
    background-color: black !important;
    border: 1px solid white !important;
  }
  .swal2-timer-progress-bar{
    background-color: white !important;
  }

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.details-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    /* border: 1px solid black; */
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}


.QAHxuJxRZWb3P_cbR8QA{
  background-color: #000 !important;
}
.lRNsiz_pTf7YmA5QMh4z{
  border-radius: 25px;
  border: 1px solid white;
  background-color: #000 !important;
}
.pVo6XoSfywa4eLk9ef2S{
  background-color: #000 !important;
}
.qiKszVnhEXQGhWJ0gGcL{
  background-color: #000 !important;
}
.pVo6XoSfywa4eLk9ef2S{
  background-color: #000 !important;
}
.ji5jASszKFf2CGCmbxEh{
  background: #000 !important ;
  margin: 0px 50px 0px 49px;
  border: 1px solid white;
  border-radius: 25px;
  width:98% !important;
}
.sCsSbKP9yxvw4LQAeaTz{
  background-color: #000 !important;
}
.BYpXSnOHfrC2td4QRijO{
  background-color: #000 !important;
}
.D9WLyEQaARfWqCTyVrpU{
  box-shadow: 0px 14px 24px 0px black !important;
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}


